<!-- cage main -->
<div class="card text-bg-dark">
    <img src="/../../assets/images/d12.jpg" class="card-img" alt=".." height="400px">


    <div class="card-img-overlay">
      <h1 style="color: hsla(180, 4%, 11%, 0.411);"class="card-title" class="text-center">  Welcome <br> Gavi Echo Tourism</h1><br>
      <p class="card-text" style="color: hsla(180, 10%, 4%, 0.678)"><b><i>Gavi is an Eco-Tourism a project of the Kerala Forest Development Corporation located in Pathanamthitta district, Kerala. Gavi, located in Pathanamthitta district offers its visitors activities like trekking, wildlife watching, outdoor camping in specially built tents, and night safaris.</i></b></p>
      <p class="card-text"><small></small></p>
    </div>
  </div>

  <!-- next -->

  <div class="section experience-kerala" id="experience-kerala">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-head">
          <h2 class="text-center">Things to do in Gavi ECoTourism</h2>
          <span class="sub-head"></span> </div>
        <div class="col-md-12 wall1 animate-two">
          <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
            </div>
            </div>
            </div>
            </div>
            </div>


  <!-- next section in card -->

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/../../assets/images/vech.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vehicle Safari</h5>
          <p class="card-text">At Gavi, you can enjoy the sight of the wildlife in their natural habitat through vehicle safaris for rare glimpses of the endangered species like Nilgiri Tahr and Lion-tailed macaque, elephants and a lot more. Gavi is home to over 260 species of birds including the great pied hornbill, woodpecker, and kingfishers. Gavi is undoubtedly a birdwatchers delight.</p>
        </div>
        <div class="card-footer">
            <p class="card-text"> <small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
            Rs. 800/- for 4 persons (Short ride)<br>
            Rs. 2400 /- for 8 persons (Long Ride)</small><br></p>
            <a href="regform" class="btn btn-primary">Booking</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/../../assets/images/gavi4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boat Ride</h5>
          <p class="card-text">Go boating on the crystal clear Gavi reservoir and Kochupamba river to take home the memory of a lifetime that’ll remain as clear as the Gavi lake. Rowing along the emerald hued natural backdrop is a welcome change from everyday monotony. Feed your adventurous spirit at Gavi. Wear a lifejacket, do Row boating safely.</p>
        </div>
        <div class="card-footer">
            <p class="card-text"> <small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
                Rs. 400/- for 2 persons (Short ride)<br>
                Rs. 800 /- for 4 persons (Long Ride)</small><br></p>
            <p class="card-text"><small class="text-muted"> 
                <a href="regform" class="btn btn-primary">Booking</a></small><br></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/../../assets/images/gavi5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Plantation visit</h5>
          <p class="card-text">Gavi’s forest community has got mastery over the fertile land that has blessed them with abundant crops. You’ll surely enjoy the leisurely stroll in the cardamom plantations, cardamom curing centre. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <p class="card-text"><small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
            Rs. 50/- for a persons (Short ride)
            </small><br></p>
            <a href="regform" class="btn btn-primary">Booking</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="/../../assets/images/gavi6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sabarimala view point</h5>
            <p class="card-text">Gavi gives you an amazing view of the Sabarimala amongst the lush green surroundings. You’ll already know that Sabarimala, the Hindu pilgrimage centre visited by millions of devotees from all over India and across the world, resides in the Western Ghat mountain ranges.</p>
          </div>
          <div class="card-footer">
            <p class="card-text"> <small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
                Rs. 100/- for a persons (Short ride)</small><br></p>
                <a href="regform" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
  </div>


  
     <!--  -->
<div class="section experience-kerala" id="experience-kerala">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-head">
        <h2 class="text-center">Direction</h2>
        <span class="sub-head"></span> </div>
      <div class="col-md-12 wall1 animate-two">
        <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
          </div>
          </div>
          </div>
          </div>
          </div>
<!--  -->

   <!-- map -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="map-area">
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d251887.3954956207!2d76.73416920495279!3d9.444135231611643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.3651059!2d76.58348769999999!4m5!1s0x3b0658f762eea579%3A0x343b8a48f3b3c7de!2sGavi%2C%20Pathanamthitta%2C%20Kerala!3m2!1d9.4358536!2d77.1657716!5e0!3m2!1sen!2sin!4v1678896313628!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> 
    </div><br><br><br>
<!-- map end -->