<!-- adavi main -->
<div class="card text-bg-dark">
    <img src="/../../assets/images/adavii.jpg" class="card-img" alt=".." height="400px">
   

    <div class="card-img-overlay">
      <h1 style="color: hsl(180, 23%, 97%);"class="card-title" class="text-center">  Welcome !! Adavi Eco-tourism</h1><br>
      <p class="card-text">Adavi is a major tourist destination in Konni, Kerala situated in the banks of Kallar River. Eco-tourism project in Adavi is jointly launched by Kerala Tourism Development Corporation and Department of Forests and Wildlife, Kerala. The main attraction in Adavi is Coracle riding and Bamboo huts, which are erected in the banks of Kallar river.Adavi Eco tourism is a part Konni Eco tourism situated about 20 Km from Pathanamthitta town and around 10 Km from Konni. Rupees 400 is charged for 30minutes of boating in Kallaar river flowing through dense forest. For those who want to enjoy the night beauty of Adavi, facility for night stay in Tree houses area also available. This area comes under the Konni Range, Konni Forest Division.</p>
      <p class="card-text"><small></small></p>
    </div>
  </div>

<!-- next -->
  <div class="section experience-kerala" id="experience-kerala">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-head">
          <h2 class="text-center">Things to do in Adavi ECoTourism</h2>
          <span class="sub-head"></span> </div>
        <div class="col-md-12 wall1 animate-two">
          <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
            </div>
            </div>
            </div>
            </div>
            </div>



  
  <div class="row row-cols-2 g-2">
 
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/../../assets/images/adavi3.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bow boat riding/Coracle boating</h5>
        <p class="card-text">
            With a 5-km stretch broadened by the Kallar River, Adavi welcomes you to experience nature at its best.The package is available in two slots one is short ride and the other long ride. The place is best during monsoon as the river is full and you can experience the fresh air, and soak yourself in the scenery of pristine greenery, and clear waters of the Kallar River. <br>
          
        </p>
        <p class="card-text"><small class="text-muted"> 
            
            <b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
            Rs. 400/- for 4 persons (Short ride)<br>
            Rs. 800 /- for eight persons (Long Ride)
           
        </small><br>
        </p>
        <a href="regform" class="btn btn-primary">Booking</a>
      </div>
    </div>
  </div>
</div>




<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/../../assets/images/bamboo.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bamboo Huts</h5>
          <p class="card-text">Adavi Treetop Bamboo Huts Package by Konni Eco tourism.A night stay in the tree-top bamboo huts at Adavi gives you the memory of a lifetime. The package includes food. </p>
          <p class="card-text"><small class="text-muted">
            
            <b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
            <p>Rs. 4000/- per day for 4 persons (for single hut)<br>
                Rs. 2500/- per day for 2 persons (for single hut)
            </p>
            <a href="regform" class="btn btn-primary">Booking</a>
           
        </small></p>
        </div>
      </div>
    </div>
  </div> 
   </div> 

    <!--  -->
<div class="section experience-kerala" id="experience-kerala">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-head">
        <h2 class="text-center">Direction</h2>
        <span class="sub-head"></span> </div>
      <div class="col-md-12 wall1 animate-two">
        <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
          </div>
          </div>
          </div>
          </div>
          </div>
<!--  -->

   <!-- map -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="map-area">
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d251972.8805747781!2d76.6124769019655!3d9.326510879452181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.3651059!2d76.58348769999999!4m5!1s0x3b066bd70bcfd4d7%3A0x97e9b8833e779d30!2sAdavi%20Eco%20Tourism%2C%20Konni%2C%20Kerala!3m2!1d9.2450127!2d76.922387!5e0!3m2!1sen!2sin!4v1678896358981!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> 
    </div><br><br><br>
<!-- map end -->

 
  