<div class="container">
    <h2>Konni EcoTourism</h2>
    <p></p>                  
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/P.B._Nooh_-_Indian_Administrative_Service_Officer.jpg/640px-P.B._Nooh_-_Indian_Administrative_Service_Officer.jpg" width="300px" height="400px"><br><br>
   
    <p>The Pathanamthitta district collector, P. B. Nooh, has been a strong supporter of ecotourism in Konni and the wider district. He has been actively involved in promoting sustainable tourism practices and preserving the natural beauty of the region.

        Under Nooh's leadership, the district administration has taken several measures to support ecotourism in Konni. This includes the development of infrastructure such as trekking trails, bird-watching spots, and wildlife safaris. The administration has also worked to promote responsible tourism practices among tourists and local businesses.<br><br>
        
        Nooh has emphasized the importance of preserving the environment and supporting local communities in the development of ecotourism in the region. He has worked closely with local communities and stakeholders to ensure that tourism activities are sustainable and do not have a negative impact on the environment.
        
        Nooh's efforts have helped to increase awareness about the importance of sustainable tourism practices in Konni and the wider district. By promoting ecotourism, he is helping to create a sustainable future for the region while also promoting its natural beauty and cultural heritage.</p> 
  </div>
