
    <div class="kk">
    <div class="row">
        <div class="col">
          <div class="text-center">
            <div class="kl">
          <h2 style="color: hsl(180, 23%, 97%);">Contact Us</h2><br>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name">
            <label for="floatingInput">Enter Your Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@gmail.com">
            <label for="floatingInput">Enter Your email</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Any Suggestions</label>
          </div><br>
         
            </div>
            <div class="container text-center">
                <input class="btn btn-primary"type="button" value="submit">
              </div>
          </div>
          