 /* .kk{
    background-image: url("../../../assets/images/xx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}
.kl{
    display: inline-block;
    opacity: 50%;
} 



body{
    background: #ffffff;
    font-family: 'PT Sans', sans-serif;
  }
  h2{
    padding-top: 1.5rem;
  }
  a{
    color: #333;
  }
  a:hover{
    color: #da5767;
    text-decoration: none;
  }
  .card{
    border: 0.40rem solid #f8f9fa;
    top: 10%;
  }
  .form-control{
    background-color: #f8f9fa;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
  }
  
  .form-control:focus {
  
      color: #000000;
      background-color: #ffffff;
      border: 3px solid #055f35;
      outline: 0;
      box-shadow: none;
  
  }
  
  .btn{
    padding: 0.6rem 1.2rem;
    background: #57da9d;
    border: 2px solid #57da6d6c;
  }
  .btn-primary:hover {
  
      
      background-color: #8cdfc3;
      border-color: #3d9e7e;
    transition: .3s;
  
  } */ 
  .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    