<!-- heading -->
<div class="section experience-kerala" id="experience-kerala">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-head">
        <h2 class="text-center">Our Destinations</h2>
        <span class="sub-head"></span> </div>
      <div class="col-md-12 wall1 animate-two">
        <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
          </div>
          </div>
          </div>
          </div>
          </div><br><br>



<div class="body">
<div class="row row-cols-3 g-3">
  <div class="col">
    <div class="card">
      <img src="/../../assets/images/c2.jpg" class="card-img-top"
        alt="Hollywood Sign on The Hill">
      <div class="card-body">
        <h5 class="card-title">Adavi EcoTourism</h5>
        <p class="card-text">
          Adavi is a major tourist destination in Konni, Kerala situated in the banks of Kallar river. Eco-tourism project in Adavi is jointly launched by Kerala Tourism Development Corporation and Department of Forests and Wildlife, Kerala
        </p>
        <a href="adavi" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/../../assets/images/b3.jpg" class="card-img-top"
        alt="Palm Springs Road" />
      <div class="card-body">
        <h5 class="card-title">Konni Elephant Reserve</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
        <a href="cage" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/../../assets/images/gavi2.jpg" class="card-img-top"
        alt="Los Angeles Skyscrapers" />
      <div class="card-body">
        <h5 class="card-title">Gavi Rain Forest</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
          additional content. Gavi is a great place to visit if you're looking for a peaceful and scenic getaway in Kerala.</p>
          <a href="gavi" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
</div>
</div>