
<!-- 
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/../../assets/images/b1.jpg" class="d-block w-100" alt="...">
      
      </div>
      
    <div class="carousel-item">
      <img src="/../../assets/images/b2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/../../assets/images/b3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h1>Discover the Wonder</h1>        
            <h3>"Your Ultimate Travel Destination for Adventure, Culture, and Relaxation!"</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a style="text-decoration: none;color: white;" routerLink="/login">See all features</a></button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2">
          <div class="overlay"></div>
      </div>
      <div class="hero">        
        <hgroup>
            <h1>We are smart</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button"><a routerLink="/login">See all features</a></button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3">
          <div class="overlay"></div>
      </div>
      <div class="hero">        
        <hgroup>
            <h1>We are amazing</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a routerLink="/login">See all features</a></button>
      </div>
    </div>
  </div> 
</div>



    
 