<!-- cage main -->
<div class="card text-bg-dark">
    <img src="/../../assets/images/cage4.jpg" class="card-img" alt=".." height="400px">

    <div class="card-img-overlay">
      <h1 style="color: hsla(180, 4%, 11%, 0.411);"class="card-title" class="text-center">  Welcome !! Konni Elephant Reserve</h1><br>
      <p class="card-text" style="color: hsla(0, 0%, 3%, 0.685)"><b><i>Konni is among the most prominent elephant training centres in Kerala. Located in Pathanamthitta district, it attracts visitors in large numbers throughout the year. One of the major attractions here are the giant wooden cages used to house the elephants. Locally known as Aanakoodu, they can house up to 3 to 4 elephants at a time.</i></b></p>
      <p class="card-text"><small></small></p>
    </div>
  </div>


  <!-- next -->

  <div class="section experience-kerala" id="experience-kerala">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-head">
          <h2 class="text-center">Things to do in Elephant Cage</h2>
          <span class="sub-head"></span> </div>
        <div class="col-md-12 wall1 animate-two">
          <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
            </div>
            </div>
            </div>
            </div>
            </div>

            <!-- next -->
            <div class="card-group">
              <div class="card">
                <img src="/../../assets/images/mi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Elephant Safari In Konni</h5>
                  <p class="card-text">Elephant safari in India are by and large is one of the best ways to experience the incredible flora and fauna of the nation.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> <b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
                    Rs. 200/- for a persons(adult) <br>
                    Rs. 150/- for a persons(students)</small><br>
                    <a href="regform" class="btn btn-primary">Booking</a>
                </div>
              </div>


              <div class="card">
                <img src="/../../assets/images/sss.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Elephant Museum</h5>
                  <p class="card-text">Elephant training cage is a major tourist attraction. It houses a history museum as well. The elephant training centre functions as an elephant welfare centre. </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
                  Rs. 20/- for a persons(adult)<br>
                    Rs. 10/- for a persons(students)</small><br>
                    <a href="regform" class="btn btn-primary">Booking</a>
                </div>
              </div>


              <div class="card">
                <img src="/../../assets/images/e.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Elephant Cage</h5>
                  <p class="card-text">People visit here to see the biggest animal on land in close quarters without fear. One of the major attractions at Konni is the giant wooden cages or the elephant kraals used to house the elephants. </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"> Cost of the package</b> <br>
                    Rs. 100/- for a persons(adult)<br>
                    Rs.75/- for a persons(students)</small><br>
                    <a href="regform" class="btn btn-primary">Booking</a>
                </div>
              </div>
            </div>

            <!--  -->
<div class="section experience-kerala" id="experience-kerala">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-head">
        <h2 class="text-center">Direction</h2>
        <span class="sub-head"></span> </div>
      <div class="col-md-12 wall1 animate-two">
        <div id="experience-carousel" class="owl-carousel owl-experience-theme owl-loaded owl-drag">
          </div>
          </div>
          </div>
          </div>
          </div>
<!--  -->

   <!-- map -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="map-area">
       
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d252003.35807025453!2d76.57338966198166!3d9.284217833093697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.3651059!2d76.58348769999999!4m5!1s0x3b066b411ed77009%3A0x593db65c7f59da8b!2skonni%20elephant%20cage!3m2!1d9.2316243!2d76.844208!5e0!3m2!1sen!2sin!4v1678895108526!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> 
    </div><br><br><br>
<!-- map end -->

